<style>
.box {
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.bg[data-parallax]:not([data-parallax\.horizontal]) {
  height: 160%;
  bottom: 0;
  left: 0;
}
.bg[data-parallax][data-parallax\.reverse]:not([data-parallax\.horizontal]) {
  bottom: auto;
  top: 0;
}

.bg[data-parallax\.horizontal] {
  height: 100%;
  width: 170%;
  right: 0;
}
.bg[data-parallax\.horizontal][data-parallax\.reverse] {
  height: 100%;
  right: auto;
  left: 0;
}
</style>

<div class="container">

  <a href="scroll-affix.html">Go to scroll affix</a>

  <div class="box">
    <h1 data-parallax>data-parallax</h1>
  </div>

  <div class="box">
    <div data-parallax class="bg" style="background-image: url(https://picsum.photos/1200/600?random=1)"></div>
  </div>

  <div class="box">
    <h1 data-parallax
        data-parallax.reverse="true">data-parallax.reverse</h1>
  </div>

  <div class="box">
    <div data-parallax
         data-parallax.reverse="true" class="bg" style="background-image: url(https://picsum.photos/1200/600?random=2)"></div>
  </div>

  <div class="box">
    <h1 data-parallax
        data-parallax.horizontal="true">data-parallax.horizontal</h1>
  </div>

  <div class="box">
    <div data-parallax
         data-parallax.horizontal="true" class="bg" style="background-image: url(https://picsum.photos/1200/600?random=3)"></div>
  </div>

  <div class="box">
    <h1 data-parallax
        data-parallax.horizontal="true"
        data-parallax.reverse="true">data-parallax.horizontal.reverse</h1>
  </div>

  <div class="box">
    <div data-parallax
         data-parallax.horizontal="true"
         data-parallax.reverse="true" class="bg" style="background-image: url(https://picsum.photos/1200/600?random=4)"></div>
  </div>

</div>