---
site:
  title: Components list
---

<style>
.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: red;
}
</style>


{{> header title=site.title image="https://picsum.photos/1080/900"}}


<section class="section">
  <div class="container" data-anim="fade-up">
    
    <h1>H1 Title</h1>
    <h2>H2 Title</h2>
    <h3>H3 Title</h3>

    <p>{{lorem}}</p>

  </div>
</section>


<section class="section -gray">
  <div class="container" data-anim="fade-up">

    <h2>Buttons</h2>

    <p>
      <button class="btn">btn</button>
      <button class="btn -primary">btn -primary</button>
      <button class="btn -secondary">btn -secondary</button>
    </p>

    <p>
      <button class="btn -stroke">btn -stroke</button>
      <button class="btn -stroke -primary">btn -stroke -primary</button>
      <button class="btn -stroke -secondary">btn -stroke -secondary</button>
    </p>

  </div>
</section>


<section class="section">
  <div class="container" data-anim="fade-up">

    <h2>Form</h2>

    <form>

      <div class="row form-line">
        <div class="col-lg-2">
          <label for="input1" class="-required">Input</label>
        </div>
        <div class="col-lg-4">
          <input type="text" id="input1" placeholder="Hello this is input" required>
        </div>
      </div>

      <div class="row form-line">
        <div class="col-lg-2">
          <label for="select1">Select</label>
        </div>
        <div class="col-lg-4">
          <select id="select1">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
      </div>

      <div class="row form-line">
        <div class="col-lg-2">
          <label for="dropdown1">Dropdown</label>
        </div>
        <div class="col-lg-4">
          {{> dropdown id="dropdown1" options=(object 1="Opt 1" 2="Opt 2" 3="Opt 3")}}
        </div>
      </div>

      <div class="row form-line">
        <div class="col-lg-2">
          <label for="textarea1">Textarea</label>
        </div>
        <div class="col-lg-4">
          <textarea id="textarea1" placeholder="Hello this is textarea"></textarea>
        </div>
      </div>

      <div class="row form-line">
        <div class="col-lg-2">
          <span class="label">Checkboxes</span>
        </div>
        <div class="col-lg-4">
          <ul class="checkboxes">
            <li class="checkbox">
              <input type="checkbox" name="ckb[]" id="ckb1" checked />
              <label for="ckb1">Checkbox 1</label>
            </li>
            <li class="checkbox">
              <input type="checkbox" name="ckb[]" id="ckb2" />
              <label for="ckb2">Checkbox 2</label>
            </li>
            <li class="checkbox">
              <input type="checkbox" name="ckb[]" id="ckb3" />
              <label for="ckb3">Checkbox 3</label>
            </li>
          </ul>
        </div>
      </div>

      <div class="row form-line">
        <div class="col-lg-2">
          <span class="label">Radios</span>
        </div>
        <div class="col-lg-4">
          <ul class="radios">
            <li class="radio">
              <input type="radio" name="rd" id="rd1" />
              <label for="rd1">Radio 1</label>
            </li>
            <li class="radio">
              <input type="radio" name="rd" id="rd2" />
              <label for="rd2">Radio 2</label>
            </li>
            <li class="radio">
              <input type="radio" name="rd" id="rd3" />
              <label for="rd3">Radio 3</label>
            </li>
          </ul>
        </div>
      </div>

      <div class="row form-line">
        <div class="col-lg-4 offset-lg-2">
          <button type="submit" class="btn -primary">Submit</button>
          <button type="reset" class="btn">Reset</button>
        </div>
      </div>

    </form>

  </div>
</section>


<section class="section -gray">
  <div class="container">

    <div class="boxes" data-anim="@fadeUp" data-anim.stagger>
      {{#repeat 30}}
      <div class="box"></div>
      {{/repeat}}
    </div>

  </div>
</section>


{{> header-slider slides=slider.home}}


<section class="section">
  <div class="container" data-anim="fade-up">
    {{> text title=(lorem w=5) text=(lorem) image="https://picsum.photos/540/350?random=1" }}
  </div>
</section>


<section class="section -gray">
  <div class="container" data-anim="fade-up">
    {{> text title=(lorem w=5) text=(lorem) image="https://picsum.photos/540/350?random=2" reverse=true }}
  </div>
</section>


<section class="section">
  <div class="container" data-anim="fade-up">
    {{> text title=(lorem w=5) text=(lorem) cta=(json text="CTA" url="#") }}
  </div>
</section>


<section class="section -gray">
  <div class="container" data-anim="fade-up">

    <h2 class="text-center">FAQ</h2>

    <div class="row">
      <div class="col-6 offset-3">
        {{> accordion items=accordion}}
      </div>
    </div>

  </div>
</section>


<section class="section text-center">
  <div class="container" data-anim="fade-up">

    <h2>Modal</h2>

    <button class="btn" onClick="$mod.get('modal#modal1').open(this)">open</button>

  </div>
</section>

{{> modal id="modal1"}}