{{> header title="CONTACT" image="https://picsum.photos/1080/900?random=1"}}

<section class="section">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 offset-lg-3">

        <form>

          <div class="row form-line -required">
            <div class="col-lg-3">
              <label for="name">Name</label>
            </div>
            <div class="col-lg-8">
                <input type="text" name="name" id="name" required>
            </div>
          </div>

          <div class="row form-line -required">
            <div class="col-lg-3">
              <label for="name">Email</label>
            </div>
            <div class="col-lg-8">
              <input type="email" name="email" id="email" required>
            </div>
          </div>

          <div class="row form-line -required">
            <div class="col-lg-3">
              <label for="message">Message</label>
            </div>
            <div class="col-lg-8">
              <textarea name="message" id="message" required></textarea>
            </div>
          </div>

          <div class="row form-line">
            <div class="col-lg-8 offset-lg-3">
              <button type="submit" class="btn -primary">Submit</button>
            </div>
          </div>

        </form>

      </div>
    </div>

  </div>
</section>