<div class="container">

  <style>
    h2 {
      margin-top: 50px;
    }
    section {
      display: flex;
      flex-flow: row wrap;
    }
    .box {
      width: 500px;
      padding-top: 500px;
      transition: all 400ms 200ms;
      margin-right: 30px;
      margin-bottom: 30px;
      background: green;
      opacity: 0;
    }
    .box.fade-enter {
      opacity: 1;
    }
  </style>


  <h2>Simple component exemple</h2>
  <section>
    <button data-mod="Clickable">click here</button>
  </section>


  <h2>Intersection exemple</h2>
  <section data-mod="Intersection">

    <div class="box" data-viewport-transition="fade:enter,leave"></div>
    <div class="box" data-viewport-transition="fade:enter,leave"></div>
    <div class="box" data-viewport-transition="fade:enter,leave"></div>
    <div class="box" data-viewport-transition="fade:enter,leave"></div>
    <div class="box" data-viewport-transition="fade:enter,leave"></div>
    <div class="box" data-viewport-transition="fade:enter,leave"></div>
    <div class="box" data-viewport-transition="fade:enter,leave"></div>
    <div class="box" data-viewport-transition="fade:enter,leave"></div>
    <div class="box" data-viewport-transition="fade:enter,leave"></div>
    <div class="box" data-viewport-transition="fade:enter,leave"></div>
    <div class="box" data-viewport-transition="fade:enter,leave"></div>
    <div class="box" data-viewport-transition="fade:enter,leave"></div>
    <div class="box" data-viewport-transition="fade:enter,leave"></div>
    <div class="box" data-viewport-transition="fade:enter,leave"></div>

  </section>

</div>