// =============================================================================
// 8# Core / Utilities / Alignment
// =============================================================================

// Floats
// ==========================================================================
.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

// Horizontal Text
// ==========================================================================
.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

// Vertical Text
// ==========================================================================
.align-baseline {
  vertical-align: baseline !important;
}

.align-bottom {
  vertical-align: bottom !important;
}

.align-middle {
  vertical-align: middle !important;
}

.align-top {
  vertical-align: top !important;
}

.vertical-center {
  @include vertical-center;
}
