.dropdown {
  position: relative;
  display: inline-block;
  background: $white-100;

  select {
    display: none;
    @at-root .-touch-based & {
      display: block;
      position: absolute;
      left: 1px;
      right: 1px;
      top: 1px;
      bottom: 1px;
      width: calc(100% - 2px);
    }
  }
  button {
    outline: none;
  }

  &_current {
    @extend input;
    z-index: 1;
    position: relative;
    background: $white-100;
    padding-left: 30px;
    padding-right: 30px;
    @at-root .-touch-based & {
      pointer-events: none;
    }
  }
  &.-open &_current,
  &:hover &_current,
  &_current:active {
    border-color: $border-color;
  }

  &_caret {
    z-index: 2;
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 12px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 300ms;
  }
  &.-open &_caret {
    transform: translateY(-50%) rotateX(-180deg);
  }

  &_list {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 100%;
    background: $white-100;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  }

  &_item {
    width: 100%;
    border: none;
    background: none;
    padding: 8px 25px;
    &:hover {
      background: $white-90;
    }
  }
}