.text {
  
  &.-only {
    text-align: center;
    @include media-breakpoint-up(lg) {
      max-width: 60%;
      margin: auto;
    }
  }

  img {
    width: 100%;
    @include media-breakpoint-down(lg) {
      margin-top: 40px;
    }
  }

}