.topbar {
  z-index: 500;
  position: relative;
  height: 80px;
  padding: 10px 0;
  background: $white-100;
  border-bottom: 1px solid $border-color;
  transition: transform 200ms;

  &.-hide {
    transform: translateY(-100%);
  }
  &.-sticky {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    & + * {
      margin-top: 80px;
    }
  }

  > .container {
    display: flex;
    align-items: center;
  }

  &_logo {

  }

  &_burger {
    @include btn-reset;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80px;
    background: $white-100;
    transition: all 400ms;
    @include media-breakpoint-up(lg) {
      display: none;
    }

    img {
      width: 30px;
      transition: all 400ms;
    }

    &.-open {
      right: calc(100% - 80px);

      img {
        transform: rotate(90deg);
      }
    }
  }

  &_nav {
    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      transform: translateX(100%);
      width: calc(100vw - 80px);
      background: $white-100;
      overflow-y: scroll;
      transition: transform 400ms;
      &.-open {
        transform: translateX(0);
        box-shadow: 0 0 20px rgba(0, 0, 0, .4);
      }

      ul {
        li {
          a {
            display: block;
            padding: 18px 30px;
          }
        }
      }
    }
    @include media-breakpoint-up(lg) {
      margin-left: auto;

      ul {
        display: flex;
        li {
          a {
            display: block;
            height: 100%;
            padding: 18px 30px;
          }
        }
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

  }

  &_search {
    display: none;
    margin-left: 40px;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}