<div class="topbar" data-mod="topbar" data-sticky>
  <div class="container">

    <div class="topbar_logo">
      <a href="index.html" alt="{{site.title}}">
        <img src="https://placehold.it/150x60" alt="{{site.title}}">
      </a>
    </div>

    <button class="topbar_burger" ref="burger">
      <img src="https://img.icons8.com/ios/50/000000/menu-filled.png" alt="">
    </button>
    
    <nav class="topbar_nav" ref="nav">
      <ul>
        {{#each nav}}
        <li>
          <a href="{{this.url}}">{{this.name}}</a>
        </li>
        {{/each}}
      </ul>
    </nav>

    <div class="topbar_search">
      <form action="post">
        <input type="search" placeholder="search">
      </form>
    </div>

  </div>
</div>