// =============================================================================
// 3# Elements / Buttons
// =============================================================================

.btn {
  display: inline-block;
  padding: 8px 25px;
  border-radius: 2px;
  transition: all $anim-speed-fast;

  // filled
  &:not(.-stroke) {
    border: none;
    color: $white-100;

    // default color
    background: $default-color;
    &:hover, &:focus { background: $default-color-light }
    &:active { background: $default-color-dark }

    // primary color
    &.-primary {
      background: $primary-color;
      &:hover, &:focus { background: $primary-color-light }
      &:active { background: $primary-color-dark }
    }

    // secondary color
    &.-secondary {
      background: $secondary-color;
      &:hover, &:focus { background: $secondary-color-light }
      &:active { background: $secondary-color-dark }
    }

  }

  // border
  &.-stroke {
    border: 1px solid;
    background: transparent;
    &:hover, &:focus, &:active {
      color: $white-100 !important;
    }

    // default color
    color: $default-color;
    border-color: $default-color;
    &:hover, &:focus { background: $default-color }
    &:active {
      border-color: $default-color-dark;
      background: $default-color-dark
    }

    // primary color
    &.-primary {
      color: $primary-color;
      border-color: $primary-color;
      &:hover, &:focus { background: $primary-color }
      &:active {
        border-color: $primary-color-dark;
        background: $primary-color-dark
      }
    }

    // secondary color
    &.-secondary {
      color: $secondary-color;
      border-color: $secondary-color;
      &:hover, &:focus { background: $secondary-color }
      &:active {
        border-color: $secondary-color-dark;
        background: $secondary-color-dark
      }
    }

  }
}