input, select, textarea {
  border: 1px solid $border-color;
  border-radius: 1px;
  padding: 8px 18px;
  outline: none;
  transition: all $anim-speed-fast;
  &:active, &:focus {
    border-color: $border-active-color;
  }
  &.-touched:invalid {
    border-color: red;
  }
}

textarea {
  height: 200px;
}

.form-control {
  padding: 5px 0;

  label {
    vertical-align: top;
    padding: 8px;
    width: 100px;
    &.-required::after {
      content: '*';
    }
  }

  input, select, textarea {
    min-width: 300px;
  }
}

.form-submit {
  padding: 5px 0;
  margin-left: 104px;
}