// =============================================================================
// 3# Elements / Forms
// =============================================================================

label,
.label {
  display: inline-block;
  cursor: pointer;
  padding: .8rem;
}

input,
select,
textarea,
.checkbox label::before,
.radio label::before {
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 1px;
  padding: 8px 18px;
  outline: none;
  transition: all $anim-speed-fast;
}

input,
select,
textarea {
  &:active,
  &:focus {
    border-color: $border-active-color;
  }

  &.-touched.-invalid {
    border-color: $error-color;
  }
}

textarea {
  height: 20rem;
}


//
// States
//
.-touched.-invalid {
  border-color: $error-color;
}


//
// Custom checkbox and radio input
//
.checkboxes,
.radios {
  list-style: none;
  padding: .8rem 0;
  margin: 0;
}

.checkbox,
.radio {
  display: inline-block;
  white-space: nowrap;
  padding-right: 2rem;

  label {
    padding: 0 !important;
    width: auto !important;

    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 2rem;
      height: 2rem;
      padding: 0;
      margin-right: 8px;
      margin-top: -2px;
      text-align: center;
      line-height: 100%;
    }
  }

  input {
    position: absolute;
    top: -9999;
    opacity: 0;
    width: auto;

    &:active + label::before,
    &:focus + label::before {
      border-color: $border-active-color;
    }

    &.-touched.-invalid + label {
      color: $error-color;

      &::before {
        border-color: $error-color;
      }
    }
  }
}

.checkbox {
  input {
    &:checked + label::before {
      content: '✓';
    }
  }
}

.radio {
  label::before {
    border-radius: 100%;
  }

  input {
    &:checked + label::before {
      content: '•';
    }
  }
}


//
// Line containing label and control
//
.form-line {
  padding: 5px 0;

  &.-required label::after {
    content: '*';
  }
}