// =============================================================================
// 1# Settings / Colors
// =============================================================================

// Palette
// =============================================================================

// https://coolors.co/fe938c-e6b89c-ead2ac-9cafb7-4281a4
$primary-color: #4281A4;
$primary-color-light: lighten($primary-color, 10%);
$primary-color-dark: darken($primary-color, 10%);

$secondary-color: #FE938C;
$secondary-color-light: lighten($secondary-color, 10%);
$secondary-color-dark: darken($secondary-color, 10%);

$default-color: #9CAFB7;
$default-color-light: lighten($default-color, 10%);
$default-color-dark: darken($default-color, 10%);

$error-color: #EF233C;
$success-color: #02C39A;

$white-100: #FFF;
$white-90: #EEE;
$white-80: #DDD;
$white-70: #CCC;
$white-60: #BBB;
$white-50: #AAA;
$white-40: #999;
$white-30: #888;

$black-30: #777;
$black-40: #666;
$black-50: #555;
$black-60: #444;
$black-70: #333;
$black-80: #222;
$black-90: #111;
$black-100: #000;


// Specific
// =============================================================================

// Link
$link-color: $secondary-color;
$link-active-color: $secondary-color-dark;

// Selection
$selection-text-color: $white-100;
$selection-background-color: $black-100;

// Borders
$border-color: $white-70;
$border-active-color: $white-30;


// Social Colors
// =============================================================================

$facebook-color: #3B5998;
$instagram-color: #E1306C;
$youtube-color: #CD201F;
$twitter-color: #1DA1F2;