// =============================================================================
// 1# Settings / Colors
// =============================================================================

// Palette
// =============================================================================

$white-100: #FFFFFF;
$white-90: #EEEEEE;
$white-80: #DDDDDD;
$white-70: #CCCCCC;
$black-100: #000000;


// Specific
// =============================================================================

// Link
$link-color: #1A0DAB;
$link-focus-color: #1A0DAB;
$link-hover-color: darken(#1A0DAB, 10%);

// Selection
$selection-text-color: $white-100;
$selection-background-color: $black-100;

// Borders
$border-color: $white-70;


// Social Colors
// =============================================================================

$facebook-color: #3B5998;
$instagram-color: #E1306C;
$youtube-color: #CD201F;
$twitter-color: #1DA1F2;