// =============================================================================
// 1# Settings / Layout
// =============================================================================

// Spacing Units
// =============================================================================
$unit: 60px;
$unit-small: 20px;

// Container
// =============================================================================
$padding: $unit;
