{{#prettify}}
<!doctype html>
<html>
  <head>
    <title>{{site.title}}</title>
    {{> metas}}
    {{> favicons}}
    <link rel="stylesheet" href="{{root}}assets/css/main.css?{{hash}}">
  </head>
  <body>

    {{> header}}

    <main>
      {{> body}}
    </main>

    {{> footer}}

    <!-- IE polyfill -->
    <script type="text/javascript">
      if (navigator.appName == 'Microsoft Internet Explorer' ||
        !!(navigator.userAgent.match(/Trident/) ||
          navigator.userAgent.match(/rv:11/))) {
        document.write('<script src="{{root}}assets/js/babel.js?{{hash}}"><\/script>');
      }
    </script>
    <!-- /IE polyfill -->

    <script>
      window.$config = {
        env: 'dev',
        root: '{{root}}'
      };
    </script>
    <script src="{{root}}assets/js/main.js?{{hash}}"></script>

  </body>
</html>
{{/prettify}}