{{#prettify}}
<!doctype html>
<html>
  <head>
    <title>{{site.title}}</title>
    {{> metas}}
    {{> favicons}}
    <link rel="stylesheet" href="{{root}}assets/css/main.css?{{hash}}">
  </head>
  <body>

    {{> header}}

    <main>
      {{> body}}
    </main>

    {{> footer}}

    <script>
    window.$config = {
      env: 'dev',
      root: '{{root}}'
    }
    </script>
    <script src="{{root}}assets/js/polyfills.js?{{hash}}"></script>
    <script src="{{root}}assets/js/main.js?{{hash}}"></script>

  </body>
</html>
{{/prettify}}