// =============================================================================
// 7# Modulus / Helpers / Accessibility
// =============================================================================

//  Visibility / Display
// =============================================================================
[hidden][aria-hidden='false'] {
  position: absolute;
  display: inherit;
  clip: rect(0, 0, 0, 0);
}

[hidden][aria-hidden='false'] {
  &:focus {
    clip: auto;
  }
}

// Screen readers
// =============================================================================
.screen-reader-text {
  @include accessibly-hidden;
}

@media not print {
  .screen-reader-text\@screen {
    @include accessibly-hidden;
  }
}

.screen-reader-text.-focusable {
  @include accessibly-focusable;
}
