// =============================================================================
// 7# Modulus / Helpers / Visibility
// =============================================================================

.h-visible {
  visibility: visible !important;
  opacity: 1 !important;
}

.h-hidden {
  visibility: hidden !important;
  opacity: 0 !important;
}

@if (variable-exists(breakpoints)) {
  @each $breakpoint, $value in $breakpoints {
    @if $breakpoint != 'xs' {
      .h-visible#{$breakpoint-delimiter}#{$breakpoint} {
        @include bp($breakpoint) {
          visibility: visible !important;
          opacity: 1 !important;
        }
      }

      .h-hidden#{$breakpoint-delimiter}#{$breakpoint} {
        @include bp($breakpoint) {
          visibility: hidden !important;
          opacity: 0 !important;
        }
      }

      // with '-only' reference classes
      $next-breakpoint: map-get-next($breakpoints, $breakpoint, false, key);
      @if $next-breakpoint {
        $only-breakpoint: ($breakpoint $next-breakpoint);

        .h-visible#{$breakpoint-delimiter}#{$breakpoint}-only  {
          @include bp($only-breakpoint) {
            visibility: visible !important;
            opacity: 1 !important;
          }
        }

        .h-hidden#{$breakpoint-delimiter}#{$breakpoint}-only  {
          @include bp($only-breakpoint) {
            visibility: hidden !important;
            opacity: 0 !important;
          }
        }
      }
    }
  }
}

@media print {
  .h-visible#{$breakpoint-delimiter}print {
    visibility: visible !important;
    opacity: 1 !important;
  }

  .h-hidden#{$breakpoint-delimiter}print {
    visibility: hidden !important;
    opacity: 0 !important;
  }
}

@media not print {
  .h-visible#{$breakpoint-delimiter}screen {
    visibility: visible !important;
    opacity: 1 !important;
  }

  .h-hidden#{$breakpoint-delimiter}screen {
    visibility: hidden !important;
    opacity: 0 !important;
  }
}